@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DoAn2VADT.Database.Entities.Account>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Tài khoản" ;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách tài khoản : trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm tài khoản">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;">
                                <option selected>Chọn quyền</option>
                                <option value="0">Chọn tất cả</option>
                                <option value="1">Admin</option>
                                <option value="2">User</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminAccounts" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm tài khoản</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>Quyền</th>
                        <th>Ngày tạo</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.Id
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Password</td>
                                <td>
                                    @if (@item.Role == 1)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Admin</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>User</div>
                                        </div>
                                    }
                                </td>
                                <td>@item.CreatedAt</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5 fas fa-eye" asp-controller="AdminAccounts" asp-action="Details" asp-route-id="@item.Id"></a>
                                    <a class="btn btn-secondary btn-tone m-r-5 fas fa-edit" asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@item.Id"></a>
                                    <a class="btn btn-danger btn-tone m-r-5 far fa-trash-alt" asp-controller="AdminAccounts" asp-action="Delete" asp-route-id="@item.Id"></a>

                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminAccounts" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var Id = jQuery(this).children(":selected").attr("value");
                Id = parseFloat(Id);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + Id + "]").attr("selected", "true");
                $.ajax({
                    url: '/AdminAccounts/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: Id
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Search/FindAccount/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}
