@model DoAn2VADT.Database.Entities.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form asp-controller="Book" asp-action="Details" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <a asp-controller="Book" asp-action="Index" class="breadcrumb-item">Danh sách</a>
                <span class="breadcrumb-item active">Xóa</span>
            </nav>
        </div>
    </div>
    <div class="card-header">
        <div class=" row">
            <div class=" col-md-6">
                <strong>DANH SÁCH BOOK</strong>
            </div>
            <div class=" col-md-6 text-right">
                <div class="text-right">
                    <a class=" btn btn-primary fas fa-undo-alt" asp-action="Index"></a>
                    <a class=" btn btn-success fas fa-edit" asp-action="Edit" asp-route-id="@Model.Id"> </a>
                    <a class=" btn btn-danger far fa-trash-alt" asp-action="Delete" asp-route-id="@Model.Id"> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="productName">Tên sản phẩm</label>
                    <div class="form-control" asp-for="TenSach"> @Html.DisplayFor(model => model.Name) </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="productName">Tên Title</label>
                    <div class="form-control"> @Html.DisplayFor(model => model.Title.Name) </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Nhà xuất bản</label>
                    <div class="form-control">@Html.DisplayFor(model => model.Publisher.Name)</div>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Nhà phát hành</label>
                    <div class="form-control">@Html.DisplayFor(model => model.Distributor.Name)</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Giá bán</label>
                    <div class="form-control">@Html.DisplayFor(model => model.Price)</div>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Hàng tồn</label>
                    <div class="form-control">@Html.DisplayFor(model => model.Quantity)</div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="ShortDesc">Giảm giá</label>
                <div class="form-control">@Html.DisplayFor(model=>model.Discount)</div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Thể loại</label>
                    <div class="form-control">@Html.DisplayFor(model => model.Category.Name)</div>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Tác giả</label>
                    <div class="form-control">@Html.DisplayFor(model => model.Author.Name)</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Ngày tạo</label>
                    <div class="form-control">@Html.DisplayFor(model => model.CreatedAt)</div>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="ShortDesc">Ngày update</label>
                    <div class="form-control">@Html.DisplayFor(model => model.UpdatedAt)</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="CreateUserId" class="control-label">UserID</label>
                    <input asp-for="CreateUserId" class="form-control" />
                    <span asp-validation-for="CreateUserId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UpdateUserId" class="control-label">Update UserID</label>
                    <input asp-for="UpdateUserId" class="form-control" />
                    <span asp-validation-for="UpdateUserId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="ShortDesc">Mô tả</label>
                <div class="form-control">@Html.Raw(Model.Description)</div>
            </div>
            <div class="form-group">
                <label class="font-weight-semibold">Ảnh sản phẩm</label>
                <div class="form-control">
                    <img width="200" height="200" src="~/images/book/@Model.Image" alt="@Model.TitleId" />
                </div>
            </div>

        </div>
    </div>
</form>