@model DoAn2VADT.Database.Entities.Publisher

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                    <a asp-controller="Publisher" asp-action="Index" class="breadcrumb-item">Xóa</a>
                    <span class="breadcrumb-item active">Xác nhận xóa</span>
                </nav>
            </div>
        </div>
        <div class="card-header">
            <div class=" row">
                <div class=" col-md-6">
                    <strong>DANH SÁCH NHÀ XB</strong>
                </div>
                <div class=" col-md-6 text-right">
                    <a class="btn btn-success " asp-action="Index">Quay về</a>
                </div>
            </div>
        </div>


        <h4 class="card-title">Chi tiết </h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">

                <thead>
                    <tr>
                        <th scope="col" class="text-center">Tên nhà XB</th>
                        <th scope="col" class="text-center">Địa chỉ</th>
                        <th scope="col" class="text-center">Số điện thoại</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center" style="width:200px;">Xác nhận</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center">@Model.Name</th>
                        <td class="text-center">@Model.Address</td>
                        <td class="text-center">@Model.PhoneNumber</td>
                        <td class="text-center">@Model.Mail</td>
                        <th class="text-center">
                            <form asp-action="Delete" asp-route-id="@Model.Id">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>