@using DoAn2VADT.Database.Entities
@model List<Title>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Id
            </td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a class="btn btn-primary btn-tone m-r-5" asp-controller="Title" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                <a class="btn btn-secondary btn-tone m-r-5" asp-controller="Title" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                <a class="btn btn-success btn-tone m-r-5" asp-controller="Title" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>

            </td>
        </tr>
    }
}