@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DoAn2VADT.Database.Entities.Book>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index" + CurrentPage;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách sản phẩm : trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                                <option selected>Chọn thể loại</option>
                                <option value="0">Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtIDXB" name="txtIDXB" style="min-width: 200px;" asp-items="ViewBag.XB">
                                <option selected>Chọn nhà XB</option>
                                <option value="0">Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-affix m-v-10">
                            <form method="post" asp-controller="Import" asp-action="ImportfromExcel" enctype="multipart/form-data">
                                <input type="file" name="file" />
                                <button class="btn btn-success btn-outline-secondary" type="submit">Nhập Excel</button>
                            </form>
                        </div>
                        
                    
                    </div>
                    <div class="col-md-4">
                        <div class="input-affix m-v-10">
                            @using (Html.BeginForm("ExportToExcel", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div>
                                    <input type="submit" value="Xuất Excel" class="btn btn-warning" />
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-right">
                
                <a class="btn btn-primary" asp-controller="Book" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm sản phẩm</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <img width="60" height="90" src="~/images/book/@item.Image" alt="@item.Name" />
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Price VNĐ</td>
                                <td>@item.Quantity</td>
                                <td>
                                    @if (item.Quantity > 0)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Còn hàng</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Hết hàng</div>
                                        </div>
                                    }

                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5"  asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                                    <a class="btn btn-secondary btn-tone m-r-5"  asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5"  asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>

                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" list="@Model" asp-controller="Book" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var Id = jQuery(this).children(":selected").attr("value");
                Id = parseFloat(Id);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + Id + "]").attr("selected", "true");
                $.ajax({
                    url: '/Book/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: Id
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            jQuery("#txtIDXB").change(function () {
                var Id = jQuery(this).children(":selected").attr("value");
                Id = parseFloat(Id);
                $('#txtIDXB option')
                    .removeAttr('selected');
                $("#txtIDXB > [value=" + Id + "]").attr("selected", "true");
                $.ajax({
                    url: '/Book/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: Id
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}
